<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Magic</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    
    <nav>
        <li><a href="/">MOVIE MAGIC</a></li>
        <form action="/search" method="POST">
            <img src="assets/img/Search.png" alt="" class="search-icon">
            <input type="text" name="search" id="input">
            <input type="submit" value="Search" class="submit">
        </form>
        <li><a href="/favourites">MY SHOWS</a></li>
</nav>