<%- include('./partials/header') %> 




    <main>
        <img src="https://image.tmdb.org/t/p/w500/<%= removedata.backdrop_path %>" alt="">
        <article>
            <img src="/assets/img/icon.png" alt="">
            <a href="/removefavourite/<%=removedata._id %>/delete">
         
           
            <h2>Remove from  favourite</h2>
           </a>
        </article>
        
        
        </main














<%- include('./partials/footer') %> 