

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    background: #333333;
    font-family: 'poppins';
    font-style: normal;
}

header{
    background: #4F4F4F ;
    padding: 1.4vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 26px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: 10%;
    height: 10vh;
}
#input{
    background: #333333;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 200px;    
    Width:290px;
    Height:32px
}
.search-icon{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 31%;
    top: 30px;
    opacity: 0.6;
    margin: 12px 0px;
}
.submit{
    background: #FFFFFF;
    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    Width:170px ;
    Height: 32px
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 60px 0px;
}
nav li {
list-style: none;  
}
/* HOME */
.main{
    margin: 10vh 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.article{
    border-radius: 10px;
    text-decoration: none;
    background: #4F4F4F;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .8);
}
.article:hover{
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .8);
}
.main img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
}
.main h3{
    color: white;
    font-size: 1em;
    font-weight: 300;
    padding: 1vh 5%;
    text-align: center;
}
.main a{
    text-decoration: none;
}
.favourite img:hover{
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .8);
    transform: scale(1.05)
}
.favourite{  
    color: white;
    font-size: 12px;
    font-weight: normal;
    padding: 1vh 5%;
    text-align: center;
    color: #CCCCCC;
}
.favourite a{
    text-decoration: none;
    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    color: #CCCCCC;
    width: 105px;
    height: 30px;
    padding: 5px 10px ;
    transition: transform .2s;
}
 #show{
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
} 

.mainDetail{
    color: white;
}
.mainDetail> img{
    width: 100%;
    height: 65vh;
    object-fit: cover;  
    border-bottom-left-radius: 40px;
}
.mainDetail section{
    margin-left: 5%;
    margin-top: 30px;
}
.rating{
    position: absolute;
    background: #fff;
    height: 100px;
    top: 58vh;
    right: 0;
    width: 120px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}
.rating img{
    width: 50%;
    margin-top: 15%;
    
}
.rating h4{
  
    color: #12153D; 
    margin-top: 5%;
}
.rating h5{
    margin-top: -26%;
    color:#4F4F4F;

}
.btn{
    border: 1.5px solid #FFFFFF;
    opacity: 60%;
    box-sizing: border-box;
    border-radius: 100px;
    color: #CCCCCC;
    font-weight: 500;
    text-decoration: none;
    padding: 0.3em 1em;
    margin-bottom: 1em;
    display: inline-block;
}

.favourites h1{
    margin-left: 70px;
    margin-top: -3%;
    padding-bottom: 35px;     
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
}
.text h2{
    font-weight: 400;
    margin: 5vh 0 2vh;
    font-size: 1.4rem;
}
.favourite h4{
    text-align:left;
   text-overflow: ellipsis;
  
}


.text p{
    width: 60%;
    color: #ccc;
}
.small{
    color: #12153D;
    font-size: .9rem;
    font-weight: 400;
    
}